.about {
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  font-size: 50px;
  margin-bottom: 20px;
  border-bottom: 2px solid orange;
  width: 200px;
}

.location {
  margin-bottom: 10px;
  border-bottom: 2px solid orange;
  width: 150px;
}

.hours {
  margin-bottom: 10px;
  border-bottom: 2px solid orange;
  width: 100px;
}

.shop {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* for image and text */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  padding-top: 40px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
