.animated-button {
  background-color: #2b2b2b00;
  border-radius: 12px;
  border: 2px solid #ffa600;
  color: #f2f2f2;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  width: fit-content;
}

.animated-button.hovered {
  transform: scale(1.1);
}
.animated-button:hover {
  background-color: #ffa600;
  color: black;
}

/* media query for smaller screens */
@media screen and (max-width: 540px) {
  .animated-button {
    width: 80%;
    margin: 10px auto;
  }
}
