.artists {
  background-color: #2b2b2b;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
  padding-left: 35px;
  padding-right: 35px;
}

.title-artist {
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 2px solid orange;
  width: 200px;
  padding-top: 72px;
}

.artist-img {
  border-radius: 50%;
  max-width: 200px;
  height: auto;
  padding-top: 20px;
}

/* three columns side by side */
.column-artist {
  float: left;
  width: 33.3%;
  margin-top: 30px;
  padding: 0 8px;
}

/* WIP: display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* shadow card effect */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #2b2b2b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* left & right padding inside the container */
.container {
  padding: 0 16px;
  padding-bottom: 20px;
}

/* clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}
